<!DOCTYPE html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>React APP</title>
</head>
<html>
<body>
<div id="root">
    <div class="spinner-container">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>

<%= htmlWebpackPlugin.files.webpackManifest %>
</body>
</html>
